<!DOCTYPE html>
<html>
<head>
    <title>DeltaLock</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
	<%# stylesheet_link_tag	   'landing', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
</head>
<body>
    <div id="homepage-vertical-align" class="container">
        <div id="homepage-container">
            <h1 id="homepage-logo-text"> DeltaLock </h1>
            
            <div class="row">
                <a href="/search" class="col s4 btn-large delta-btn">
                    Search
                </a>
                <a href="/assign" class="col s4 btn-large delta-btn">
                    Assign Keycodes
                </a>
                <a href="/upload" class="col s4 btn-large delta-btn">
                    Upload
                </a>
            </div>
        </div>		
    </div>
</body>
</html>
