<div id="header-information"><h1>Assign Keycode</h1></div>

<div id="assign-purchaser">
	<h2>Is this a new Purchaser?</h2>
	<div class="row">
		<div class="col-xs-6">
			<%= link_to 'Yes', new_purchaser_path, remote:true %>
		</div>
		<div class="col-xs-6">
			<button onclick="existing('Purchasers', 'purchaser')">NO</button>
		</div>
	</div>
</div>

<div id="purchaser-form" style="display:none;"></div>
<div id="purchaser-searchbar-list" style="display:none;"></div>
<div id="purchaser-table" class="all-tables" style="display:none;"></div>


<div id="assign-enduser" style="display:none;">
	<h2>Is this a new End User?</h2>
	<div class="row">
		<div class="col-xs-6">
			<%= link_to 'Yes', new_end_user_path, remote:true %>
		</div>
		<div class="col-xs-6">
			<button onclick="existing('End User', 'enduser')">NO</button>
		</div>
	</div>
</div>

<div id="enduser-form" style="display:none;"></div>
<div id="enduser-searchbar-list" style="display:none;"></div>
<div id="enduser-table" class="all-tables" style="display:none;"></div>

<div id="assign-key" style="display:none;">
	<h2>How would you like to assign a key?</h2>
	<div class="col-xs-4">
		<button>Manual Key</button>
	</div>
	<div class="col-xs-4">
		<button>Search for key</button>
	</div>
	<div class="col-xs-4">
		<button>Import keys</button>
	</div>
<script>

	function existing(category, id){
		var category_search;
		switch(category){
			case "Purchasers":
				category_search = '<%= j ( render '/keycodes/fetch_purchasers', category: "Purchasers") %>';
				break;
			case "End User":
				category_search = '<%= j ( render '/keycodes/fetch_endusers', category: "End User") %>';
				break;
		}

		$('#assign-' + id).fadeOut(200, function(){
			$("#" + id + "-searchbar-list").fadeIn(200);
			$('#' + id + '-searchbar-list').html('<h2>Find Existing ' + category + '</h2>'+ category_search);
		});
	}
	function getHighlightedRow(){
		var table_open = '<table class="table">';
		var table_head = '<thead>' + $('thead').html() + '</thead>';
		var table_body = '<tbody><tr>' + $('.bg-primary').html() + '</tr></tbody>';
		var table_close = '</table>';

		return table_open + table_head + table_body + table_close;
	}


	function selectPurchaser(){
		var selected_row = getHighlightedRow();

		$("#purchaser-table").fadeOut(200, function(){
			$("#header-information").append(selected_row);
			$("#assign-enduser").fadeIn(200);
			destroy("purchaser");
		});
	}
	function selectEndUser(){
		var selected_row = getHighlightedRow();

		$("#enduser-table").fadeOut(200, function(){
			$("#header-information").append(selected_row);
			//$("#assign-enduser").fadeIn(200);
			destroy("enduser");
		});
	}

	function destroy(elements){
		$("#purchaser-table").remove();
		$("#purchaser-form").remove();
		$("#purchaser-searchbar-list").remove();
		$("#assign-purchaser").remove();
	}

</script>
<!--
<div class="row" id="query-row-NUMBER">
	<div class="col-xs-4">
		<select class="form-control">
			<option value="Name">Name</option>
			<option value="Address">Address</option>
			<option value="Email">Email</option>
			<option value="Phone">Phone</option>
			<option value="Department">Department</option>
			<option value="Store Number">Store Number</option>
		</select>
		<div class="col-xs-7">
			<input type="text" class="form-control" id="input-NUMBER" placeholder name onchange="change_name_of_input_field(thi    s.id)">
		</div>
		<div class="btn btn-danger" onclick="remove_row(\'query-row-NUMBER\')">
			<i class="">AA</i>
		</div>
	</div>
</div>-->
