<div id="assign-container">
	<% @categories.each do |cat| %>
		<% catName = cat.name.underscore.humanize.split.map(&:capitalize).join(' ') %>
		<div class="assign-quad">
			<div class="assign-title">
				<h3><%= catName %></h3>
			</div>
			<div class="assign-new-or-search" style="display:none;">
                <div class="assign-new-or-search-row"><div class="assign-btn-wrapper"><a class="btn-large delta-btn assign-new-btn">New <%= catName %></a></div></div>
                <div class="assign-new-or-search-row"><div class="assign-btn-wrapper"><a class="btn-large delta-btn assign-search-btn">Search <%= catName %>s</a></div></div>

			</div>
		</div>
	<% end %>
</div>

