<h1>Manage Assignments</h1>
<table class = "table bordered centered responsive-table show-table">
    <thead class = "thead-inverse">
        <tr>
		    <% @assignments[0].each do |type, entry| %>
				<th><%= entry["title"] %></th>
			<% end %>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% @assignments.each do |assignment_parts| %>
            <tr>
                <% assignment_parts.each do |type, entry| %>
                    <% if entry["name"] != "" %>
                        <td>
                            <div><%= entry["name"] %></div>
                        </td>
                    <% else %>
                        <td class="show-table-empty"></td>
                    <% end %>
                <% end %>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        <% end %>
    </tbody>
</table>
