<ul class="list-group">
	<% Key.column_names.each do |title| %>
		<li class="list-group-item">
			<div class="key-label">
				<strong><%= title %> : </strong>
				<span><%= @key[title] %></span>
			</div>
		</li>
	<% end %>
</ul>
