<div class = "row">
    <div class = "col-xs-6">
        <ul class = "list-group">
            <% Key.column_names.each do |po| %>
                <li class = list-group-item><strong> <%= po %> : </strong><%= @key[po] %></li>
            <% end %>
        </ul>
    </div>
    <div class = "col-xs-6">
        <h2>Purchase Order:</h2>
        <a class="list-group-item" href="<%= purchase_order_path(@pok["purchase_order_id"]) %>"><%= @pok[:purchase_order_id] %></a>
    </div>
</div>
