
<div>
	<a href="javascript:void(0)" onclick="openTab(event, 'search_purchase_orders');">
	    <div class="searchtablink">Purchase Orders</div>
	</a>
	<a href="javascript:void(0)" onclick="openTab(event, 'Key Codes');">
	    <div class="searchtablink">Key Codes</div>
	</a>
	<a href="javascript:void(0)" onclick="openTab(event, 'End Users');">
	    <div class="searchtablink">End Users</div>
	</a>
	<a href="javascript:void(0)" onclick="openTab(event, 'Purchasers');">
	    <div class="searchtablink">Purchasers</div>
	</a>
</div>

<div id="search_purchase_orders" class="searchtab">
	<%= render 'search/forms/form' %>

	<%= render '/search/tables/purchaseorders' %>
</div>
	<%# render 'search' %>

<script>
	//add_new_row();
</script>
