<h1>KeyUpload#index</h1>
<%= form_tag url_for(controller: :upload, action: :create), multipart: true do %>
	<div class="file-field input-field row">
      <div class="btn delta-btn col s2">
        <span>Upload File</span>
        <input type="file" name="file">
      </div>
      <div class="file-path-wrapper col push-s1 s4">
        <input class="file-path validate" type="text">
      </div>
    </div>

	<div class="input-field">
		<select name="category">
			<option value="" disabled selected>Upload type</option>
			<option value="end_user">End Users</option>
			<option value="key">Keys</option>
			<option value="purchaser">Purchasers</option>
			<option value="purchase_order">Purchase Orders</option>
			<option value="assignment">Assignments</option>
		</select>
	</div>

	<%= submit_tag "Upload", class: "btn delta-btn" %>
	<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<% end %>
<p>Find me in app/views/key_upload/index.html.erb</p>
	 <script>
$(document).ready($('select').material_select());
	 </script>
