<% if @purchasers_list.length > 0 %>
    <h1>Purchasers</h1>
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <% Purchaser.column_names.each do |title| %>
                    <th><%= title %></th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% @purchasers_list.each do |entry| %>
				<tr class="purchaser-row"><!--data-link="<%= purchaser_path(entry["id"]) %>">-->
                    <% Purchaser.column_names.each do |column| %>
                        <td><%= entry[column] %></td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>
