<%= form_tag("/keycodes/show", :method => "get") do %>
	<div class="searchbars-list">
	</div>

	<div class="row">
		<button id="add-another-field" class=" btn col-xs-3 col-xs-offset-2" onclick="add_new_row()" type="button">
			Add another field
		</button>  
		<button class="btn col-xs-3 col-xs-offset-2" type="submit">Submit</button>
	</div>
<% end %>
