
$('#enduser-searchbar-list').fadeOut(300, function(){
	$('#enduser-table').prepend("<%= j (render '/keycodes/endusers') %>");
	$("#enduser-table").append("<button onclick='selectEndUser()'>Select</button>");
	$('#enduser-table').fadeIn(300);
});
