
$('#purchaser-searchbar-list').fadeOut(300, function(){
	$('#purchaser-table').prepend("<%= j (render '/keycodes/purchasers') %>");
	$("#purchaser-table").append("<button onclick='selectPurchaser()'>Select</button>");
	$('#purchaser-table').fadeIn(300);
});
