
$('#purchaser-searchbar-list').fadeOut(FADE_TIME, function(){
	$('#purchaser-table').prepend("<%= j (render '/keycodes/tables/purchasers') %>");
	$("#purchaser-table").append("<button onclick='selectPurchaser()'>Select</button>");
	$('#purchaser-table').fadeIn(FADE_TIME);
	enable_all_highlights(".all-tables","tbody tr");
});
