<div class="col-xs-6">
	<div id="information-listings">
		<div id="enduser-table">
			<%= render '/keycodes/lists/endusers' %>
		</div>

		<div id="key-table">
			<%= render'/keycodes/lists/keycodes' %>
		</div>

		<% if @purchase_orders_list.length > 0 %>
			<%# render '/keycodes/tables/purchaseorders' %>
		<% end %>

		<div id="purchaser-table">
			<%# render '/keycodes/tables/purchasers' %>
		</div>
	</div>
</div>

<div id="key-page-right-side-view" class="col-xs-6">
</div>
