<div id="enduser-table">
<%= render '/keycodes/tables/endusers' %>
</div>


<div id="key-table">
	<%= render'/keycodes/tables/keys' %>
</div>

<% if @purchase_orders_list.length > 0 %>
	<%= render '/keycodes/tables/purchaseorders' %>
<% end %>

<div id="purchaser-table">
<%= render '/keycodes/tables/purchasers' %>
</div>
