<!-- Nex steps
	Make lists look nice
	Make lists fold obviously
	Make labels nice
	Make right hand side look nice (list and form)
	-->

<div class="col-xs-6">
	<div id="information-listings">
		<div id="enduser-table">
			<%= render '/keycodes/lists/endusers' %>
		</div>

		<div id="key-table">
			<%= render'/keycodes/lists/keycodes' %>
		</div>
		
		<div id="purchaseorder-table">
			<%= render'/keycodes/lists/purchaseorders' %>
		</div>

		<div id="purchaser-table">
			<%= render'/keycodes/lists/purchasers' %>
		</div>
	</div>
</div>

<div id="key-page-right-side-view" class="col-xs-6">
</div>
