<% if @key_codes_list.length > 0 %>
	<h1>Key Codes</h1>
	<div class="">
		<% @key_codes_list.each do |entry| %>
			<%= link_to entry["key"], {:controller => "search", :action => "info", :id => entry["key_hash"], :category => "key" }, :remote => true %>

			<div id="associated-purchase-orders-<%= entry["key"] %>">
				<% pokLink(entry["id"]) %>
				<%= link_to @pok[:purchase_order_id], {:controller => "search", :action => "info", :id => @pok[:purchase_order_id], :category => "purchaseorder"}, :remote => true %>
			</div>
		<% end %>
	</div>
<% end %>
