<% entryClass.column_names.each do |column| %>
	<td class="<%= classString + "-" + column %>"
	<% if ColumnLabels.column?(column) %>
		>
	<% else %>
		style="display:none;">
	<% end %>
	<%= entry[column] %>
	</td>
<% end %>
