<% if @end_users_list.length > 0 %>
    <h1 class="search-table-header">End Users</h1>
    <table class="table bordered centered responsive-table">
        <thead class="thead-inverse">
            <tr>
				<% EndUser.column_names.each do |title| %>
					<%= render '/search/tables/header', title:title %>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% @end_users_list.each do |entry| %>
				<tr class="search-row" data-href="<%= show_entry_path("endusers", entry["id"]) %>">
				<%= render '/search/tables/body', entryClass: EndUser, entry: entry, classString: "endusers" %>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>
