<% if @keycodes_list.length > 0 %>
    <h1>Key Codes</h1>
    <table class="table all-tables">
        <thead class="thead-inverse">
            <tr>
                <% Key.column_names.each do |title| %>
					<%= render '/search/tables/header', title:title %>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% @keycodes_list.each do |entry| %>
                <tr class="search-row" data-href="<%= show_entry_path("key", entry["id"]) %>">
					<%= render '/search/tables/body', entryClass: Key, entry: entry, classString: "key"  %>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>
