var table_open = "<table class='table'>";
var table_head = '<%= @purchaser_columns.html_safe %>';
var table_body = '<%= @purchaser_info.html_safe %>';
var table_close = "</table>";

var selected_row = table_open + table_head + table_body + table_close;

$("#purchaser-form").fadeOut(200, function(){
	$("#header-information").append(selected_row);
});
