<div class="row">
    <div class = "col-xs-6">
        <ul class="list-group">
            <% Purchaser.column_names.each do |title| %>
                <li class="list-group-item"><strong><%= title %> : </strong><%= @purchaser[title] %></li>
            <% end %>
        </ul>
    </div>
    <div class = "col-xs-6">
        <h2>Associated Purchase Order(s)</h2>
        <div class = "list-group">
            <% @purchase_orders_list.each do |po| %>
                <a class="list-group-item" href="<%= purchase_order_path(po["id"]) %>"><%= po[:po_number] %></a>
            <% end %>
        </div>
</div>
