<div class="modal-content">
    <h3 class="center-align"><%= @class.name.underscore.split.map(&:capitalize).join(' ') %> Search</h3>
    <div id="map" style='width: 100%; height: 400px;'></div>

    <%= form_tag filter_map_path, :method => :get do %>
        <div id="map-slider" class="noUiSlider"></div>
    <% end %>
</div>

