<%= form_tag( create_assign_path(@type), method: :post, remote: true ) do |f| %>
    <div class="modal-content">
        <h3 class="center-align">New <%= @class.name.underscore.split.map(&:capitalize).join(' ') %></h3>
        <%= render 'entry/form', className: @class, entry:@entry %>
    </div>
    <div class="modal-footer">
        <div class="card-action row edit-btn">
            <%= submit_tag("Create", class:"btn col s12 delta-btn") %>
        </div>
    </div>
<% end %>
