<div id="homepage-vertical-align" class="container">
	<div id="homepage-container">
		<h1 id="homepage-logo-text"> DeltaLock </h1>
		
		<div id="buttons">
			<a href="###" class="thumbnail col-sm-4">
				<h1>Search for keycodes</h1>
			</a>
		</div>
	</div>		
</div>

