var selected_row = '<h3 data-toggle="collapse" data-target="#enduser-info">End User</h3>';
selected_row += '<div id="enduser-info" class="collapse"><%= j render ("enduserinfo") %></div>';

$("#enduser-form").fadeOut(FADE_TIME, function(){
	$("#header-information").append(selected_row);
	$("#assign-key").fadeIn(FADE_TIME);
	destroy("enduser");
});
