<%= form_tag( update_entry_path(@type, @id), method: :post, remote: true ) do |f| %>
    <%= render 'form', className: @class, entry: @entry %>
	<div class="card-action row edit-btn">
		<%= submit_tag("Save", class:"btn col s12 delta-btn") %>
	</div>
<% end %>
