<ul class="list-group">
	<% PurchaseOrder.column_names.each do |title| %>
		<li class="list-group-item">
			<div class="purchaseorder-label">
				<strong><%= title %> : </strong>
				<span><%= @purchaseorder[title] %></span>
			</div>
		</li>
	<% end %>
</ul>
<%= link_to edit_purchase_order_path(@purchaseorder), remote: true do %>
	<button class="btn">Edit</button>
<% end %>
