// Place all the styles related to the Assign controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
	height: 85%;
}

#assign-container{
	width: 100%;
	height: 100%;
}

.assign-quad{
	width: 50%;
	height: 50%;
	float: left;
	border: 1px solid black;
	text-align:center;
    overflow: hidden;
    position: relative;
}
.assign-title:hover{
	background-color: rgba(9, 86, 165, 0.3);
	cursor: pointer;
}
.assign-title{
	height: 100%;
}
.assign-quad>div>h3{
	position:relative;
	margin: 0;
	top:40%;
}
.assign-new-or-search{
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}
.assign-new-or-search-row{
    display: table-row;
    text-align: center;
}
.assign-btn-wrapper{
    display: table-cell;
    vertical-align: middle;
}

.assign-row:hover{
	cursor: pointer;
	background-color: rgba(9, 86, 165, 0.3);
}
.assign-row-active{    
	cursor: pointer;
	color: white;
	background-color: rgb(9, 86, 165);
}

#assign-button {
    display: none;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}


.assign-table-cell{
	padding: 0;
}
.assign-edit-link,
.assign-delete-link{
	width: 100%;
	height: 100%;
	color: black;
	padding: 15px 5px;
}
.assign-edit-link:hover{
	background-color: rgba(9, 86, 165, 0.3);
}
.assign-edit-link:active{
	color:white;
	background-color: rgb(9, 86, 165);
}
.assign-delete-link:hover{
	background-color: rgba(9, 86, 165, 0.3);
}
.assign-delete-link:active{
	color:white;
	background-color: rgb(9, 86, 165);
}
.assign-table-empty{
	padding: 15px 5px;
	background-color: rgba(0,0,0, 0.1);
}

.assign-change-button{
    position: absolute;
    right: 0;
    margin-right: 10px;
}
#assign-map {
    width: 100%;
    height: 300px;
}
#assign-map-slider {
    margin-top: 10px;
}
#assign-map-slider-range {
    line-height: 3;
    font-size: 16px; 
    margin-left: 0px;
}
#assign-map-keys{
    margin-top: 25px;
}
#assign-map-keys-title{
    width: 100%;
    text-align: center;
}

.noUi-tooltip {
    display: none;
}
.noUi-active .noUi-tooltip {
    display: block;
}
.red-connect{ background: red; }
.yellow-connect{ background: yellow; }
.green-connect{ background: #00FF00; }
