// Place all the styles related to the Show controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.delta-collection-item {
	line-height: 25px;
}

.edit-btn {
	margin-bottom:0;
}

.show-header{
	text-align:center;
}
.show-table{
	margin-bottom: 20px;
}
.show-table-cell{
	padding: 0;
}
.show-table-link{
	width: 100%;
	height: 100%;
	color: black;
	padding: 15px 5px;
}
.show-table-link:hover{
	background-color: rgba(9, 86, 165, 0.3);
}
.show-table-link:active{
	color:white;
	background-color: rgb(9, 86, 165);
}
.show-table-empty{
	padding: 15px 5px;
	background-color: rgba(0,0,0, 0.1);
}

.entry-form-row{
    padding-left: 10%;
    padding-right: 10%;
}

div.row .bitting-push-s1 {
    left: 9%;
}

div.row .bitting-s1 {
    width: 12%;
    margin-left: auto;
    right: auto;
    text-align: center;
    height: 2rem;
    border: 1px solid black;
}

.bitting-s1::placeholder{
    color: red;
}

