// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-buttons-row a {
    width: 24%;
}

#homepage-vertical-align{
  min-height: 100%;
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

#homepage-container{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

#homepage-logo-text{
  text-align: center;
  color: #000;
}

.btn-large{
	font-size: 2rem;
}
