// Place all the styles related to the Show controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.delta-collection-item {
	line-height: 25px;
}

.edit-btn {
	margin-bottom:0;
}

.show-header{
	text-align:center;
}
