<% if @end_users_list.length > 0 %>
	<h1>End Users</h1>
	<div class="">
		<% @end_users_list.each do |entry| %>
			<%= link_to entry["name"], {:controller => "keycodes", :action => "info", :id => entry["id"], :category => "enduser" }, :remote => true %>

			<div id="associated-purchase-orders-<%= entry["id"] %>">
				<% purchaseOrderLinks(entry["id"]) %>
				<% @purchase_orders_list.each do |po| %>
					<a class="list-group-item" href="<%= purchase_order_path(po["id"]) %>"><%= po[:po_number] %></a>
				<% end %>
			</div>
		<% end %>
	</div>
<% end %>
