<%= render 'entry/info/list' %>
<% if is_editor %>
    <div class="card-action row edit-btn">
        <%= link_to "Edit", edit_entry_path(@type, @id), remote: true, class:"btn col s6 delta-btn" %>
    <% if is_admin %>
	    <%= link_to "Delete", delete_entry_path(@type, @id), method: :delete, class:"btn col s6 red" %>
    <% end %>
    </div>
<% end %>
